<?xml version="1.0"?>
<configuration>
  <!--
    web.config の変更点の説明については、http://go.microsoft.com/fwlink/?LinkId=235367 を参照してください。

    次の属性を <httpRuntime> タグに設定できます。
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <machineKey validationKey="669168828FDACD92261696676C9E15F551CA1DF2808BB235EF4C0529242142915CB01ED5A6649F84B98CBBDC9F0A67777D4BAC5D709C61C3CF65D12D7F4BD9D5" decryptionKey="8FE3CF6984E72AADDE2F5E7D29EBD0D62BAB35B329DFEE89" validation="SHA1"/>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <appSettings>
    <!--サーバー単位で要変更-->
    <add key="DomainName" value="TSTBPR"/>
    <add key="TopPageUrl" value="https://kmp/"/>
    <add key="PhoneBookUrl" value="https://kmp/tl/_layouts/BTMU.PhoneBook/PhoneBook.aspx"/>
  </appSettings>
</configuration>